{
  "mcpServers": {
    "portainer": {
      "type": "http",
      "url": "https://portainer-mcp.SUA_EMPRESA.com.br/mcp"
    },
    "evolution": {
      "type": "http",
      "url": "https://evolution-mcp.SUA_EMPRESA.workers.dev/mcp"
    },
    "supabase-selfhosted": {
      "type": "http",
      "url": "https://supabase-mcp.SUA_EMPRESA.com.br/s-SEU_TOKEN_AQUI/mcp"
    },
    "github": {
      "type": "http",
      "url": "https://github-mcp-server.SUA_EMPRESA.workers.dev/mcp"
    }
  }
}
